<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Darekasan Proxy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Darekasan Proxy</h1>
    <form id="urlForm">
        <label for="url">ここにURLを入力:</label>
        <input type="text" id="url" name="url">
        <button type="submit">送信</button>
    </form>
    <div id="tabs"></div>
    <div id="tabContents"></div>
    <div id="confirmationDialog" style="display:none;">
        <p>HTTPSでの読み込みに失敗しました。HTTPで読み込みますか？</p>
        <button id="confirmYes">はい</button>
        <button id="confirmNo">いいえ</button>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
