<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Proxy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/office-ui-fabric-core/11.0.0/css/fabric.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/office-ui-fabric-core/11.0.0/css/fabric.components.min.css">
    <style>
        body {
            padding: 20px;
        }
        .dark-mode {
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="ms-Grid" dir="ltr">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-sm12 ms-md6 ms-lg4">
                <h1 class="ms-fontSize-32">Proxy</h1>
                <button class="ms-Button" id="toggle-dark-mode">
                    <span class="ms-Button-label">ダークモード切替</span>
                </button>
                <form id="proxy-form">
                    <div class="ms-TextField">
                        <input class="ms-TextField-field" type="text" id="url" placeholder="URLを入力してください">
                    </div>
                    <button class="ms-Button ms-Button--primary" type="submit">
                        <span class="ms-Button-label">検索</span>
                    </button>
                </form>
                <div id="result" class="ms-TextField"></div>
            </div>
        </div>
    </div>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/static/js/service-worker.js').then(function(registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }).catch(function(error) {
                console.log('ServiceWorker registration failed: ', error);
            });
        }

        document.getElementById('proxy-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const url = document.getElementById('url').value;

            fetch('/proxy', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ url: url })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerHTML = data.content;
            });
        });

        // ダークモードの切り替え
        document.getElementById('toggle-dark-mode').addEventListener('click', function() {
            document.body.classList.toggle('dark-mode');
        });
    </script>
</body>
</html>
